bucket         = "REPLACE_WITH_APPROVED_TERRAFORM_STATE_BUCKET"
key            = "secure-url-shortener/demo/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "REPLACE_WITH_APPROVED_TERRAFORM_LOCK_TABLE"
encrypt        = true
